#!/bin/sh

# Where to put private files (keys)
lets_private=/etc/ssl/private/letsencrypt
# Where to put public files (certificates, requests)
lets_public=/etc/ssl/public/letsencrypt
# Challenges directory
challenges=/usr/local/www/challenges
# SSL config
ssl_config=/etc/ssl/openssl.cnf

# certbot dns hooks, see certbot's help
dns_auth_hook=/some/script
dns_cleanup_hook=/some/script

# Only set those if on a slave
dns_url=https://dnssec.absolight.fr/
dns_login=
dns_password=

# Values when the check will get critical, and warning, in days
critical=10
warning=15

# When to renew, in days.  Keep it > warning ;-)
renew=20

